.logo>img {
    width: 10%;
}

.hlavicka {
    background-color: greenyellow;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}


.telo {
    background-color: #ff0800;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: white;
}


.nadpis {
    text-align: center;
    height: 50px;
    width: 250px;
    background-color: #ff0800;
    color: white;
    
}

.input {
    height: 50px;
    margin: 20px;
}

.dalsi {
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 20px;
    background-color: whitesmoke;
    border: 2px solid black;
    text-align: center;
}

.dalsi:hover {
    color: white;
    background-color: gray;
}

.karta {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border: 2px solid white;
    background-color: #ff0800;
    text-align: center;
}

.karta>img {
    width: 33%;
}

.karty {
    display: flex;
}

.karta:hover {
    background-color: #cd0700;
}

.karta:active {
    background-color: red;
}

.vyber {
    margin-left: 20px;
    margin-bottom: 30px;
}

.google-map {
    padding-bottom: 55%;
    position: relative;
}

.google-map iframe {
    height: 90%;
    width: 90%;
    left: 10px;
    top: 10px;
    position: absolute;
    border: 1px solid #cd0700;
    border-radius: 5px;
}

.podnadpis{
    margin:10px;
}

.oteviraci_doba {
    font-family: 'Arial', sans-serif;
    background-color: #cd0700;
    margin-top: 10px;
    margin-left: 10px; 
    margin-bottom: 10px;
    border: 1px solid #cd0700;
    border-radius: 5px;
    width: 200px;  
}

.oteviraci_doba span {

    display: inline-block;
    width: 100px; 
}


.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}



.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.title {
    font-size: 40px;
    border-bottom: 2px solid;
    padding: 12px;
    color: #ffffff;
}

.masthead {
    background-size: cover;
    min-height: 100vh; /*60vh*/
    position: relative;
    color: #000000;
    font-weight: bold;
    font-style: italic;
}

.text {
    font-size: 2rem;
    margin-bottom: -200px;
    display: flex;
    text-shadow: 2px 2px 2px rgba(255, 255, 255,0.8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}

@media (max-width: 768px){
    /*.masthead{
        min-height: 30vh;
    }*/
    .text{
        font-size: calc(1.525rem + 3.3vw);
    }
}


footer{
    background: #7F040E;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.btn-outline-custom {
    color: #ffffff !important;
    background-color: rgba(0, 0, 0, 0) !important; 
    border-color: #D0A933 !important; 
}

.btn-outline-custom:hover {
    color: #D0A933!important;; 
    background-color: rgba(0, 0, 0, 0)!important;; 
    border-color: #D0A933!important;;
}


body{
    background-color: #7F040E !important;
}
