.logo>img {
    width: 10%;
}

.hlavicka {
    background-color: greenyellow;
}

.telo {
    background-color: rgb(72, 255, 0);
}

.nadpis {
    text-align: center;
    height: 50px;
    width: 250px;
    background-color: gray;
}

.input {
    height: 50px;
    margin: 20px;
}

.dalsi {
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 20px;
    background-color: whitesmoke;
    border: 2px solid black;
    text-align: center;
}

.dalsi:hover {
    color: white;
    background-color: gray;
}

.karta {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border: 2px solid yellow;
    background-color: yellow;
    text-align: center;
}

.karta>img {
    width: 33%;
}

.karty {
    display: flex;
}

.karta:hover {
    background-color: yellowgreen;
}

.karta:active {
    background-color: red;
}

.vyber {
    margin-left: 20px;
    margin-bottom: 30px;
}